@charset "UTF-8";

a { 
    text-decoration:none;
    color: inherit; 
}
*{
    font-family: 'SpoqaHanSansNeo', 'roboto', sans-serif;
}
.top{
    margin: 10%;
   
    list-style-type: none; 
    margin-bottom: 0%;
    margin-top: 0%;
}

.preference{
    font-size: 11px;
    text-align: left;
    
    box-sizing: border-box;
}
.preferul{
    text-align: left;
    margin-right: 20px;
}
.preference__list{
    margin-right: 20px;
    text-align: left;
}
.login{
    font-size: 11px;
    
    margin-left: auto;
}
.login__list{
    margin-right: 20px;
}
li{
    display: inline;
}
#logo{
    float: left;
    
    
}
#reservebox{
    
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
}
.reserve{
    
    margin-left: 12%;
    margin-right: 10%;
    overflow: hidden;
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 24px;
    padding: 20px 20px 30px 20px;
    background-color: white;
    position: relative;
    display: block;
    transform: none;
    transition: all 0s ease 0s;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px 0px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
#tickettype>ul>li{
    margin-right: 20px;
    font-size: 14px;
}
#tickettype>ul{
    text-align: left;
    padding-left: 15px;
    
    /* margin-right: 20px;
    font-size: 14px; */
}
#tickettype{
    font-size: 14px;
    padding-left: 10%;
    display: block;
}

#navlogo{
    vertical-align: top;
    cursor:auto;
    height: 20px;
    max-width: 100px;
}
.wrappernav{
    display:grid;
    margin: 15px;


}
.mainnav{
    
    margin-left: 12%;
    
}
.mainnav>ul{
    
    margin-top: auto;
    margin-bottom: auto;
}
.nav{
    margin: 0;
    position: relative;
}
.nav>li{
    
    margin-right: 30px;
}
#slideShow{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -3%;
    padding-left: 20%;
    padding-right: 20%;
    
    
}

.slides{
    
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
   /* width: 2500px;  슬라이드할 사진과 마진 총 넓이 */
    transition: 0.5s ease-out; /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
}


  .controller span {
    position: absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  } /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
    .controller span:hover {
    background-color: rgba(128, 128, 128, 0.11);
  }
  .prev {
    left: 10px;
  } /* 이전 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover {
    transform: translateX(-10px);
  }
  .next {
    right: 10px;
  } /* 다음 화살표에 마우스 커서가 올라가 있을때 이전 화살표가 살짝 오른쪽으로 이동하는 효과 */
  .next:hover {
    transform: translateX(10px);
  }





.sel1-1{
    border-bottom: gray;
    width: 25%;
    text-align: left;
    border-style:groove;
    border-top: none;
    border-right: none;
    border-left: none;
}
.sel1-2{
    width: 10%;
    border-bottom: gray;
    
}
.sel1-3{
    text-align: right;
    width: 25%;
    border-bottom: gray;
    border-style:groove;
    border-top: none;
    border-right: none;
    border-left: none;
}
.sel1-4{
    margin-left: 5%;
    text-align: right;
    width: 30%;
    border-bottom: gray;
    border-style:groove;
    border-top: none;
    border-right: none;
    border-left: none;

}
.travel{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    margin-top: 10px;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.submitsche{
    margin-top: 20px;
    padding-bottom: 0;
    background-color: #ff5f2e;
    color: #e1eef6;
    
    padding: 0;
    box-sizing: border-box;
    position: relative;
    border: none;
    
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;

}
#tickettype>ul>li{
    font-size: 15px;
    padding-inline-end: 10px;
}
#tickettype>ul{
    
    padding-left: 5px;
    
}
.vip{
   
    background-color: #FFD7B8;
    height: 30%;
}
.vip_text{
    font-size: 20pt;
    display: flex;
}
.Benefit{
    margin: 10%;
    margin-top: 1%;
}
.recommend{
    margin: 10%;
    margin-top: 1%;
    margin-bottom: 5%;
}


#foot{
    background-color: #2938bd;
    height: auto;
    min-height: 100%;
    padding-bottom: 150px;
}
footer{
    background-color: #925729;
    height: 150px;
    position : relative;
    transform : translateY(-100%);
}
.slide1{
    justify-content: center;
    align-items: center;
    align-content: center;
    z-index: 1;
}
.reserve{
    align-content: center;
    z-index: 2;
    
    margin-left: 22%;
    margin-right: 20%;
}
.reserve__real{
    padding-left: 10%;
    padding-right: 10%;
    
}
